<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
    <p>I am working currently as a computer engineer with Trey Kilobytes De Soluciones wherein I am developing addons for Odoo. I have experience
developing C / C# / C ++ / Python / Java, but I consider that I can learn any programming language. I have experience debugging with SDB and Pycharm.</p>
<p>I love computing and intelligent systems.</p>
</div><!--//summary-->
</section><!--//section-->
