<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Descripción</h2>
<div class="summary">
    <p>Actualmente trabajo de Ingeníero de Datos en Indizen Technologies.
    Tengo experiencia en el desarrollo de aplicaciones web, servidores, sistemas ERP, creación de modelos predictivos y anásisi del lenguaje natural.
    También tengo una amplia experiencia en la realización de test unitarios y test de integración, habitualmente desarrollo software con la técnica TDD.

	Para depurar código normalmente uso IntelliJ, para el debugging remoto, y SDB para C/C++ y pycharm para Python.
    </p>
<p>Mi trabajo diario se centra principalmente en el diseño y desarrollo de pruebas de concepto (PoCs) de motores de procesamiento para proyectos Big Data tanto en micro-batching como en tiempo real.</p>
</div><!--//summary-->
</section><!--//section-->
