<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
    <p>I am working currently as a data engineer with Indizen Technologies  wherein I am developing Big Data applications. I have experience developing C / C# / C ++ / Python / Java, but I consider that I can learn any programming language. I have experience debugging with IntelliJ, SDB and Pycharm.</p>
<p>I am currently specializing in big data in both micro-batching and real-time stream processing.</p>
</div><!--//summary-->
</section><!--//section-->
