 <div class="education-container container-block">
<h2 class="container-block-title">Education</h2>
<div class="item">
    <h4 class="degree">Computer Science</h4>
    <h5 class="meta">University of Granada</h5>
    <div class="time">2011 - 2016</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">New trends in computer engineering.</h4>
    <h5 class="meta">University of Granada</h5>
    <div class="time">2015 - 2015</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">Programming api rest with javascript</h4>
    <h5 class="meta">University of Granada</h5>
    <div class="time">2014 - 2014</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">Technical Engineer in Management Computing</h4>
    <h5 class="meta">Univerity of Granada</h5>
    <div class="time">2008 - 2011</div>
</div><!--//item-->
</div><!--//education-container-->
