 <div class="education-container container-block">
<h2 class="container-block-title">Educación</h2>
<div class="item">
    <h4 class="degree">Ciencia de Datos: Una aproximación a la era del Big Data</h4>
    <h5 class="meta">Universidad de Granada</h5>
    <div class="time">2017 - 2017</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">Curso funcional de Odoo<h4>
    <h5 class="meta">Avanzosc, S.L: Advanced OpenSource Consulting</h5>
    <div class="time">2016 - 2016</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">Grado en Ingeniería Informática</h4>
    <h5 class="meta">Universidad de Granada</h5>
    <div class="time">2011 - 2016</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">Nuevas tendencias en Ingeniería de Computadores</h4>
    <h5 class="meta">Universidad de Granada</h5>
    <div class="time">2015 - 2015</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">Programación de API rest con JavaScript</h4>
    <h5 class="meta">Universidad de Granada</h5>
    <div class="time">2014 - 2014</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">Ingeniería Técnica en Informática de Gestión</h4>
    <h5 class="meta">Universidad de Granada</h5>
    <div class="time">2008 - 2011</div>
</div><!--//item-->
</div><!--//education-container-->
