<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Odoo application development</h3>
                            <div class="time">2016 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">Trey Kilobytes de soluciones S.L, Granada</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Creating Odoo modules. Using Python languages, XML and Javascript.</p>
                        <p>Customizing reports in XML.</p>
                        <p>Unit testing with PYtest.</p>
                        <p>Customizing modules for companies.</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Web application development with Symfony</h3>
                            <div class="time">2016 - 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">Programacion-Granada S.L, Granada.</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Programming applications with Symfony, PHP, Html, Javascript and Yaml</p>

                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Trainee in the IT department.</h3>
                            <div class="time">2015 - 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">Axesor Conocer para decidir S.L, Granada</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Campaign Management and Marketing telemarketers with Neolane tool:
                        </p>
                        <p>Creating flowcharts for comprehensive campaign management,Scripting JAVASCRIPT, scripting
SQL, maintenance and system optimization.
                        </p>
                        <p>Consulting computerized management of Accounts.
Database management SQL-TRANSACT in SQL Server 2008
                        </p>
                        <p>Internal management in several languages: C, C++, Java
                        </p>
                    </div><!--//details-->
                </div><!--//item-->

            </section><!--//section-->
