<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiencia laboral</h2>

                 <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Data Engineer</h3>
                            <div class="time">2017 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">Indizen Technologies S.L , Madrid</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Diseño y creacion de aplicaciones de procesamiento en tiempo real con Flink, Kafka Stream, Hazelcast Jet, Spark Straming, Kafka, Zookeeper, Hazelcast IMDG.
                        </p>
                        <p>Estudio de diferentes motores de procesamiento en tiempo real y su aplicación en problemas reales.
                        </p>
                        <p>Integración de Apache Curator para mejorar la alta disponibildad de los notos y la tolerancia a fallos.
                        </p>
                        <p>Realización de PoCs de integración de distintas tecnologías Big Data (Presto, Apache Drill, ...)
                        </p>

                    </div><!--//details-->
                </div><!--//item-->
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Data Analyst with Adobe Campaing</h3>
                            <div class="time">2017 - 2017</div>
                        </div><!--//upper-row-->
                        <div class="company">PSA Groupe, Madrid</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Creacion de campañas de marqueting para teleoperadores con Adobe Campaing.
                        </p>
                        <p>Creacion de flujos de trabajo para el manejo de campañas, Scripting JavaScript, Scripting SQL, mantenimiento y optimización del sistema.
                        </p>
                        <p>Automatización de consultas para el manejo de cuentas</p>
                        <p>Manego de bases de datos Postgres SQL y Microsoft Server SQL</p>
                        <p>Programación web HTML y JavaScript.</p>
                    </div>
                </div>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Desarrollador de aplicaciones Odoo</h3>
                            <div class="time">2016 - 2017</div>
                        </div><!--//upper-row-->
                        <div class="company">Trey Kilobytes de soluciones S.L, Granada</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Creacion y personalización de módulos de Odoo.</p>
                        <p>Personalización de informes</p>
                        <p>Test unitarios con PyTest</p>
                        <p>Personalización de modulos para clientes</p>
                        <p>Formaciones funcionales de Odoo</p>
                    </div>
                </div>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Web application development with Symfony</h3>
                            <div class="time">2016 - 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">Programacion-Granada S.L, Granada.</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Programming applications with Symfony, PHP, Html, Javascript and Yaml</p>

                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Becario en el departamento de tecnología de Axesor</h3>
                            <div class="time">2015 - 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">Axesor Conocer para decidir S.L, Granada</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Manejo de campañas y creación de campañas de marketing para teleoperadores.
                        </p>
                        <p>Creación de flujos de trabajo para automatizar campañas de marqueting.
                        </p>
                        <p>Automatización de consultas para el manejo de cuentas.
                        </p>
                        <p>Implementación de aplicaciones de escritorio con: C, C++, Java
                        </p>
                    </div><!--//details-->
                </div><!--//item-->

            </section><!--//section-->
