<section class="section projects-section">
    <h2 class="section-title"><i class="fa fa-archive"></i>Proyectos</h2>
    <div class="intro">
        <p>Lista de proyectos:</p>
    </div><!--//intro-->

    <div class="item">
        <span class="project-title"><a href="#" target="_blank">Clasificación automática de iniciativas al Parlamento</a></span> -
        <span class="project-tagline">Estudio del problema de la clasificación multi-etiqueta con algoritmo de machine learning. 
        El objetivo final fue el desarrollo de una aplicación que mejorara la tarea de la clasificación de iniciativas que realizan los documentalista en los parlamentos a partir de las intervenciones de los representantes políticos.</span>
    </div><!--//item-->

    <div class="item">
        <span class="project-title"><a href="#hook">Saas</a></span> -
        <span class="project-tagline">Módulo para el manejo de contenedores desde Odoo.</span>
    </div><!--//item-->

    <div class="item">
        <span class="project-title"><a href="#" target="_blank">Website SEO Redirection</a></span> -
        <span class="project-tagline">Modulo dirijido al posicionamiento web. Este módulo te da la posibilida cambiar la URL a otra más amigable.</span>
    </div><!--//item-->

    <div class="item">
        <span class="project-title"><a href="#" target="_blank">Website seo selection languajes</a></span> -
        <span class="project-tagline">Módulo de Odoo que permite cambiar de idioma facilmente.</span>
    </div><!--//item-->

    <div class="item">
        <span class="project-title"><a href="#" target="_blank">Migración de  OpenERP6 a ODOO. Migración de website de WordPress a Odoo.</a></span>
    </div><!--//item-->

</section><!--//section-->
