<section class="section projects-section">
    <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
    <div class="intro">
        <p>List projects:</p>
    </div><!--//intro-->

    <div class="item">
        <span class="project-title"><a href="#" target="_blank">Automatic classification system of the Andalusian Parliament Initiatives</a></span> -
        <span class="project-tagline">Study the problem of multi-label classification automatically from machine learning
algorithms. Developing an application to perform the classification task of initiatives the Andalusian Parliament.</span>
    </div><!--//item-->

    <div class="item">
        <span class="project-title"><a href="#hook">Saas</a></span> -
        <span class="project-tagline">Module for handling containers from Odoo</span>
    </div><!--//item-->

    <div class="item">
        <span class="project-title"><a href="#" target="_blank">Website SEO Redirection</a></span> -
        <span class="project-tagline">Module dirido the web positioning. This module gives the possibility to change the URL of a web page to another more friendly</span>
    </div><!--//item-->

    <div class="item">
        <span class="project-title"><a href="#" target="_blank">Website seo selection languajes</a></span> -
        <span class="project-tagline">Odoo module to select languages from the website by adding a selector button html.</span>
    </div><!--//item-->

    <div class="item">
        <span class="project-title"><a href="#" target="_blank">Migrating from Web pages, blogs, comments and products from WordPress to Odoo.
website.</a></span>
    </div><!--//item-->

</section><!--//section-->
